<div class="mainWrapper">
  <h1>Nieuw artikel aanbieden</h1>
  <form [formGroup]="artikelForm" id="nieuwArtikelForm">
    <ul>
      <li>
        <label class="formLabelHead" for="artikelSoort">Soort</label>
      </li>
      <li>
        <select class="userInput" id="artikelSoort" formControlName="soort" (change)="setFormFields()">
          <option value="Dienst">Dienst</option>
          <option value="Product">Product</option>
        </select>
        <span class="formValidationError"
              *ngIf="artikelForm.controls.soort.errors?.required
              && artikelForm.controls.soort.touched">Dit veld is verplicht.</span>
      </li>
      <li>
        <label class="formLabelHead" for="artikelNaam">Naam</label>
      </li>
      <li>
        <input class="userInput" type="text" id="artikelNaam" formControlName="naam">
        <span class="formValidationError"
              *ngIf="artikelForm.controls.naam.errors?.required
              && artikelForm.controls.naam.touched">Dit veld is verplicht.</span>
        <span class="formValidationError"
              *ngIf="artikelForm.controls.naam.errors?.maxlength
              && artikelForm.controls.naam.touched">Dit veld max maximaal 100 tekens bevatten.</span>
      </li>
      <li>
        <label class="formLabelHead" for="artikelPrijs">Prijs</label>
      </li>
      <li>
        <input class="userInput" type="text" id="artikelPrijs" formControlName="prijs" min="1">
        <span class="formValidationError"
              *ngIf="artikelForm.controls.prijs.errors?.required
              && artikelForm.controls.prijs.touched">Dit veld is verplicht.</span>
        <span class="formValidationError"
              *ngIf="artikelForm.controls.prijs.errors?.inValidBedrag
              && artikelForm.controls.prijs.touched
              && !artikelForm.controls.prijs.errors?.required">Dit is geen geldig bedrag.</span>
      </li>
      <li>
        <label class="formLabelHead" for="artikelCategorie">Categorie</label>
      </li>
      <li>
        <select class="userInput" id="artikelCategorie" formControlName="categorie">
          <option value="" selected disabled hidden>Maak een keuze</option>
          <option *ngFor="let categorie of categorieen">{{categorie.categorieNaam}}</option>
        </select>
        <span class="formValidationError"
              *ngIf="artikelForm.controls.categorie.errors?.required
              && artikelForm.controls.categorie.touched">Dit veld is verplicht.</span>
      </li>
    </ul>
    <div *ngIf="showBezorgwijzen">
      <p class="formLabelHead">Bezorgwijzen</p>
      <p>Kies hier welke bezorgwijzen u voor dit artikel wilt ondersteunen.</p>
      <p *ngIf="artikelForm.errors?.invalidBezorgwijzen" class="formValidationError">Bij het aanbieden van een product moet u tenminste een
        bezorgwijze ondersteunen</p>
      <ul>
        <li *ngFor="let bezorgwijze of bezorgwijzenGebruiker">
          <input type="checkbox" [id]="bezorgwijze.attributeName" [formControlName]="bezorgwijze.attributeName">
          <label class="checkBox" [htmlFor]="bezorgwijze.attributeName">{{bezorgwijze.displayName}}</label>
        </li>
      </ul>
    </div>
    <ul>
      <li>
        <label class="formLabelHead" for="artikelOmschrijving">Omschrijving (optioneel)</label>
      </li>
      <li>
        <textarea class="userInput" type="text" id="artikelOmschrijving" formControlName="omschrijving"></textarea>
      </li>
    </ul>

    <p class="formLabelHead">Bijlage (optioneel)</p>
    <ul id="nieuwArtikelBijlagen">
      <li>
        <input type="file" id="artikelBijlage" formControlName="bijlage" (change)="verwerkBijlage($event.target.files)">
        <span class="formValidationError">{{bijlageValidatieBericht}}</span>
      </li>
    </ul>
    <button class="submitButton" [disabled]="artikelForm.invalid" (click)="aanbiedenArtikel()">Artikel plaatsen</button>
  </form>
</div>
