<div class="mainWrapper">
  <h1>Nieuw artikel aanbieden</h1>
  <form [formGroup]="artikelForm" id="nieuwArtikelForm">
    <ul>
      <li>
      <label class="formLabelHead" for="artikelSoort">Artikel soort</label>
      </li>
      <li>
        <select class="userInput" id="artikelSoort" formControlName="soort" (change)="setFormFields()">
          <option value="Product">Product</option>
          <option value="Dienst">Dienst</option>
        </select>
      </li>
      <li>
      <label class="formLabelHead" for="artikelNaam">Artikel naam</label>
      </li>
      <li>
        <input class="userInput" type="text" id="artikelNaam" formControlName="naam">
      </li>
      <li>
      <label class="formLabelHead" for="artikelPrijs">Prijs</label>
      </li>
      <li>
        <input class="userInput" type="number" id="artikelPrijs" formControlName="prijs" min="1">
      </li>
      <li>
      <label class="formLabelHead" for="artikelCategorie">Categorie</label>
      </li>
      <li>
        <select class="userInput" id="artikelCategorie" formControlName="categorie" >
          <option value="" selected disabled hidden>Maak een keuze</option>
          <option *ngFor="let categorie of categorieen">{{categorie.categorieNaam}}</option>
        </select>
      </li>
      <li>
      <label class="formLabelHead" for="artikelOmschrijving">Omschrijving (optioneel)</label>
      </li>
      <li>
        <input class="userInput" type="text" id="artikelOmschrijving" formControlName="omschrijving">
      </li>
    </ul>
    <div *ngIf="showBezorgwijzen">
      <p class="formLabelHead">Bezorgwijzen</p>
      <p>Kies hier welke bezorgwijzen u voor dit artikel wilt ondersteunen.</p>
      <ul>
        <li *ngFor="let bezorgwijze of bezorgwijzenGebruiker">
          <input type="checkbox" [id]="bezorgwijze.attributeName" [formControlName]="bezorgwijze.attributeName">
          <label class="checkBox" [htmlFor]="bezorgwijze.attributeName">{{bezorgwijze.displayName}}</label>
        </li>
      </ul>
    </div>
    <p class="formLabelHead">Bijlage (optioneel)</p>
    <ul id="nieuwArtikelBijlagen">
      <li>Bijlage 1</li>
      <li>
        <input type="file" id="artikelBijlage" formControlName="bijlage" (change)="verwerkBijlage($event.target.files)">
        <span class="formValidationError">{{bijlageCheckBericht}}</span>
      </li>
    </ul>
    <button class="submitButton" (click)="aanbiedenArtikel()">Artikel plaatsen</button>
  </form>
</div>
