
<div id="navBar">
  <span routerLink="/home" id="navTitle">BDM</span>
    <nav>
    <ul id="navList">
      <li class="navListItem" *ngIf="huidigeGebruiker == undefined" routerLink="/registreren">Registreren</li>
      <li class="navListItem" *ngIf="huidigeGebruiker == undefined" (click)="login()"><span>Inloggen</span></li>
      <li class="navListItem" *ngIf="huidigeGebruiker !== undefined" routerLink="/artikelen/nieuw"><span>Artikel aanbieden</span></li>
      <li class="navListItem" *ngIf="huidigeGebruiker !== undefined" (click)="loguit()"><span>Uitloggen</span></li>
    </ul>
    </nav>
</div>
<router-outlet></router-outlet>


