#navBar {
  display: flex;
  padding: 0 25%;
  background: #01689b;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;

}

#navTitle {
  color: white;
  text-decoration: none;
  font-size: 30pt;
  padding: 5px;
  line-height: 100%;
}

#navTitle:hover {
  background: #00435f;
  cursor: pointer;
}

#navList {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 0 20px;
}

.navListItem {
  padding: 15px;
  color: white;
  list-style: none;
  line-height: 100%;
  font-family: Verdana, serif;
}

.navListItem a {
  text-decoration: none;
}

.navListItem:hover {
  cursor: pointer;
  background: #00435f;
}

.navListItem a:visited {
  color: white;
}

#loggedInUser {
  text-align: right;
}
