<div>
  <h1>Registreren</h1>

  <form [formGroup]="registerForm">
    <ul>
      <li>
        <label for="email">E-mail: </label>
        <input type="text" id="email" formControlName="email">
        <span *ngIf="registerForm.controls.email.errors?.required">Dit veld is verplicht.</span>
      </li>
    </ul>

    <h2>Bezorgwijzen</h2>
    <p>Kies welke bezorgwijzen u wilt ondersteunen (niet verplicht).</p>

    <ul>
      <li>
        <label for="bezorgAfhalenThuis">Afhalen thuis</label>
        <input type="checkbox" id="bezorgAfhalenThuis" formControlName="bezorgAfhalenThuis"
               (click)="setAdresVerplicht()">
      </li>
      <li>
        <label for="bezorgAfhalenMagazijn">Afhalen magazijn</label>
        <input type="checkbox" id="bezorgAfhalenMagazijn" formControlName="bezorgAfhalenMagazijn">
      </li>
      <li>
        <label for="bezorgVersturenVooruit">Versturen vooruitbetaald</label>
        <input type="checkbox" id="bezorgVersturenVooruit" formControlName="bezorgVersturenVooruit">
      </li>
      <li>
        <label for="bezorgVersturenRembours">Versturen rembours</label>
        <input type="checkbox" id="bezorgVersturenRembours" formControlName="bezorgVersturenRembours">
      </li>
    </ul>
    <h2>Adres</h2>
    <p *ngIf="!adresVerplicht">Alleen verplicht als u afhalen thuis als bezorgwijze ondersteunt.</p>
    <ul>
      <li>
        <label for="straat">Straat: </label>
        <input type="text" id="straat" formControlName="straat" [required]="adresVerplicht">
      </li>
      <li>
        <label for="huisnummer">Huisnummer: </label>
        <input type="text" id="huisnummer" formControlName="huisnummer">
        <!--      // TODO: make sure that all fields are filled in when one is, that after user empties field adres is optional again -->
      </li>
      <li>
        <label for="postcode">Postcode: </label>
        <input type="text" id="postcode" formControlName="postcode">
        <!--      // TODO: make sure that all fields are filled in when one is, that after user empties field adres is optional again -->
      </li>
      <li>
        <label for="stad">Stad: </label>
        <input type="text" id="stad" formControlName="stad">
        <!--      // TODO: make sure that all fields are filled in when one is, that after user empties field adres is optional again -->
      </li>
      <li>
        <input type="checkbox" id="akkoordVoorwaarden" formControlName="akkoordVoorwaarden">
        <label for="akkoordVoorwaarden">Ja, iets met het gelezen hebben van de voorwaarden en ik ben het er mee
          eens.</label>
      </li>
    </ul>

    <button [disabled]="registerForm.invalid" (click)="registreerGebruiker()">Registreer</button>
  </form>

  <h1>Bestaande gebruikers: </h1>
  <table>
    <tr>
      <th>email:</th>
    </tr>
    <tr *ngFor="let gebruiker of gebruikers">
      <td>{{gebruiker.email}}</td>
    </tr>
  </table>
</div>
