<div class="mainWrapper">
  <h1>Registreren</h1>


  <form [formGroup]="registerForm">
    <ul>
      <li>
        <label class="formLabelHead" for="email">E-mail: </label>
      </li>
      <li>
        <input type="text" class="userInput" id="email" formControlName="email">
        <span class="formValidationError"
              *ngIf="registerForm.controls.email.errors?.required
              && registerForm.controls.email.touched">Dit veld is verplicht.</span>
        <span class="formValidationError" *ngIf="registerForm.controls.email.invalid
        && registerForm.controls.email.touched
        && registerForm.controls.email.errors?.invalidEmail">Dit is geen geldig e-mailadres.</span>
        <span class="formValidationError"
              *ngIf="registerForm.controls.email.errors?.maxlength
              && registerForm.controls.email.touched">Dit veld max maximaal 100 tekens bevatten.</span>
      </li>
    </ul>

    <p class="formLabelHead">Bezorgwijzen</p>
    <p>Kies welke bezorgwijzen u wilt ondersteunen, dit is alleen nodig als u artikelen wilt aanbieden op de site.</p>

    <ul>
      <li>
        <input class="checkBox" type="checkbox" id="bezorgAfhalenThuis" formControlName="bezorgAfhalenThuis"
               (click)="setAdresVerplicht()">
        <label class="formLabelValue" for="bezorgAfhalenThuis">Afhalen thuis</label>
      </li>
      <li>
        <input class="checkBox" type="checkbox" id="bezorgAfhalenMagazijn" formControlName="bezorgAfhalenMagazijn">
        <label class="formLabelValue" for="bezorgAfhalenMagazijn">Afhalen magazijn</label>
      </li>
      <li>
        <input class="checkBox" type="checkbox" id="bezorgVersturenVooruit" formControlName="bezorgVersturenVooruit">
        <label class="formLabelValue" for="bezorgVersturenVooruit">Versturen vooruitbetaald</label>
      </li>
      <li>
        <input class="checkBox" type="checkbox" id="bezorgVersturenRembours" formControlName="bezorgVersturenRembours">
        <label class="formLabelValue" for="bezorgVersturenRembours">Versturen rembours</label>
      </li>
    </ul>
    <p class="formLabelHead">Adres</p>
    <p>Het invoeren van een adres is alleen verplicht als u afhalen thuis als bezorgwijze ondersteunt.</p>
    <ul *ngIf="adresVerplicht">
      <li>
        <label class="formLabelHead" for="straat">Straat: </label>
      </li>
      <li>
        <input type="text" class="userInput" id="straat" formControlName="straat">
        <span class="formValidationError"
              *ngIf="registerForm.controls.straat.errors?.required
              && registerForm.controls.straat.touched">Dit veld is verplicht.</span>
        <span class="formValidationError"
              *ngIf="registerForm.controls.straat.errors?.maxlength
              && registerForm.controls.straat.touched">Dit veld max maximaal 100 tekens bevatten.</span>
      </li>
      <li>
        <label class="formLabelHead" for="huisnummer">Huisnummer: </label>
      </li>
      <li>
        <input type="text" class="userInput" id="huisnummer" formControlName="huisnummer">
        <span class="formValidationError"
              *ngIf="registerForm.controls.huisnummer.errors?.required
              && registerForm.controls.huisnummer.touched">Dit veld is verplicht.</span>
        <span class="formValidationError"
              *ngIf="registerForm.controls.huisnummer.errors?.maxlength
              && registerForm.controls.huisnummer.touched">Dit veld max maximaal 100 tekens bevatten.</span>
      </li>
      <li>
        <label class="formLabelHead" for="postcode">Postcode: </label>
      </li>
      <li>
        <input type="text" class="userInput" id="postcode" formControlName="postcode">
        <span class="formValidationError"
              *ngIf="registerForm.controls.postcode.errors?.required
              && registerForm.controls.postcode.touched">Dit veld is verplicht.</span>
        <span class="formValidationError"
              *ngIf="registerForm.controls.postcode.errors?.invalidPostcode
              && registerForm.controls.postcode.touched
              && !registerForm.controls.postcode.errors?.required ">Dit is geen geldige postcode.</span>
      </li>
      <li>
        <label class="formLabelHead" for="stad">Stad: </label>
      </li>
      <li>
        <input type="text" class="userInput" id="stad" formControlName="stad">
        <span class="formValidationError"
              *ngIf="registerForm.controls.stad.errors?.required
              && registerForm.controls.stad.touched">Dit veld is verplicht.</span>
        <span class="formValidationError"
              *ngIf="registerForm.controls.stad.errors?.maxlength
              && registerForm.controls.stad.touched">Dit veld max maximaal 100 tekens bevatten.</span>
      </li>
    </ul>

    <p class="formLabelHead">Algemene voorwaarden</p>
    <ul>
      <li>
        <label for="voorwaardenTextArea"></label>
        <textarea readonly id="voorwaardenTextArea">{{algemeneVoorwaarden}}</textarea>
      </li>
      <li>
        <input type="checkbox" id="akkoordVoorwaarden" formControlName="akkoordVoorwaarden">
        <label for="akkoordVoorwaarden">Ja, ik ga akkoord met de algemene voorwaarden.</label>
      </li>
    </ul>
    <button class="submitButton" [disabled]="registerForm.invalid" (click)="registreerGebruiker()">
      Registreer
    </button>
  </form>
</div>
